:root {
  --background-main : #343F71;
  --text-light: #E9D8E4;
  --text-yellow: #FBC40E;
  --gap-main: 3em;
  --text-checked: #f34c1996;

} 

* {
  background-color: var(--background-main);
  color: var(--text-light);
  font-family: 'Lato', sans-serif;
  --bs-list-group-bg: var(--background-main);
  --bs-list-group-color: var(--text-light);
  --bs-modal-footer-bg: var(--background-main);
}

.heading-with-logo {
  display: flex;
  gap: var(--gap-main)
}

.checked-item > label {
  --text-light: var(--text-checked);
  text-decoration: line-through;
}
